language: python
python:
  - "3.8"

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install codecov
# command to run tests
script:
  - pytest Tests
after_success:
  - codecov # submit coverage
  - bash <(curl -s https://codecov.io/bash)
